pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.18.17
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = dbus
	depends = hicolor-icon-theme
	options = !strip
	source_x86_64 = openwork-0.18.17-x64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.17/openwork-linux-x64-0.18.17.tar.gz
	sha256sums_x86_64 = eb1874b38880153de4618bd58a120a1114accbfd8999a51e1fc52e80ae90ee31
	source_aarch64 = openwork-0.18.17-arm64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.17/openwork-linux-arm64-0.18.17.tar.gz
	sha256sums_aarch64 = 45b874f5e02086bd496e5c77a0bc9fe4fddb9900b7ea58719ef84bef330e2769

pkgname = openwork
