pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.18.20
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = dbus
	depends = hicolor-icon-theme
	options = !strip
	source_x86_64 = openwork-0.18.20-x64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.20/openwork-linux-x64-0.18.20.tar.gz
	sha256sums_x86_64 = 96b6645d4d0913082b8b82457b81dec91389dbacbf1fe9816a0c56d252a1b41f
	source_aarch64 = openwork-0.18.20-arm64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.20/openwork-linux-arm64-0.18.20.tar.gz
	sha256sums_aarch64 = 0839f8cf094d369a73643031afdde0bb14a6608ed43ac591b7cca5e7169baec2

pkgname = openwork
