pkgbase = openwork
	pkgdesc = An Open source alternative to Claude Cowork
	pkgver = 0.18.19
	pkgrel = 1
	url = https://github.com/different-ai/openwork
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = at-spi2-core
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = dbus
	depends = hicolor-icon-theme
	options = !strip
	source_x86_64 = openwork-0.18.19-x64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.19/openwork-linux-x64-0.18.19.tar.gz
	sha256sums_x86_64 = e3b3331817976db7fb26299d721e8e44ecde784486cdce265c1585e71c53d7d5
	source_aarch64 = openwork-0.18.19-arm64.tar.gz::https://github.com/different-ai/openwork/releases/download/v0.18.19/openwork-linux-arm64-0.18.19.tar.gz
	sha256sums_aarch64 = bed08f0e1bd400f46fc8c958239fffd9793dc4151a1c6cec44875539992700e1

pkgname = openwork
